{% extends "user_homepage_base.html" %}
{% load static %}
{% block user_base %}
    {% if follow_requests.count != 0 %}
        {% for requests in follow_requests %}
        <div class="card border-dark mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-2">
                        <img src="{% static 'profilepics/malepropic.jpg' %}" alt="..." class="rounded-circle card-img-left" height="100px" width="100px">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">{{ requests.requested_from.username | upper }}</h5>
                            <a href="{% url 'accounts:accept_request' follower_username=requests.requested_from.username %}" class="btn btn-primary">Accept follow</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class='text-center'>
            <h4>No follow requests</h4>
            <h6>Try finding new buddies</h6>
        </div>
    {% endif %}
{% endblock %}