{% extends "user_homepage_base.html" %}
{% load static %}
{% block user_base %}
    <div class="row">
        <div class="col-md-6">
            <h2>My Following</h2>
        </div>
        <div class="col-md-6 text-right">
            <a href="{%url 'accounts:follow_requests' username=user.username %}" class="btn btn-secondary">follow Requests</a>
        </div>
    </div>
    <br>
    {% if following_list.count != 0 %}
        {% for following in following_list %}
        <div class="card border-dark mb-3">
            <div class="card-body">
                <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-2">
                <img src="{{ following.requested_from.profile.profilepic.url }}" alt="" class="rounded-circle card-img-left" height="100px" width="100px">
            </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <a href="{% url 'accounts:userprofile' pk=following.requested_to.id %}" class="text-dark">
                            <h5 class="card-title">{{ following.requested_to.username }}</h5>
                            <h6>{{ following.requested_to.get_full_name }}</h6>
                            <p class="card-text">Started following on {{ following.hand_shaked_on }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
    {% else %}
    <div class='text-center'>
        <h4>No following</h4>
        <h6>Try finding new buddies</h6>
    </div>
    {% endif %}
{% endblock %}