{% extends "user_homepage_base.html" %}
{% load static %}
{% block user_base %}
    <div class="row">
        <div class="col-md-6">
            <h2>My Friends</h2>
        </div>
        <div class="col-md-6 text-right">
            <a href="{%url 'accounts:friend_request_list' username=user.username %}" class="btn btn-secondary">friend Requests</a>
        </div>
    </div>
    <br>
    {% if friends_list.count != 0 %}
        {% for friends in friends_list %}
        <div class="card border-dark mb-3">
            <div class="card-body">
                <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-2">
                <img src="{% static 'profilepics/femalepropic.jpg' %}" alt="..." class="rounded-circle card-img-left" height="100px" width="100px">
            </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">{{ friends.friend.username | upper }}</h5>
                        <p class="card-text">Together since {{ friends.hand_shaked_on }}</p>
                        <a href="{%url 'accounts:removefriend' friendname=friends.friend.username %}" class="btn btn-primary">Remove friend</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class='text-center'>
        <h4>No friends</h4>
        <h6>Try finding new friends</h6>
    </div>
    {% endif %}
{% endblock %}