{% extends "user_homepage_base.html" %}
{% load static %}
{% block user_base %}
<div class="container">
    <h3>My Account</h3>
    <h5 class="font-weight-normal">Username : {{ user.username }}</hg>
    <h5 class="font-weight-normal">First Name : {{ user.first_name }} </h5>
    <h5 class="font-weight-normal">Last Name : {{ user.last_name }}</h5>
    <h5 class="font-weight-normal">Email: {{user.email}}</h5>
    <h5 class="font-weight-normal">Date of birth: {{user.profile.dob}}</h5>
    <h5 class="font-weight-normal">Age: {{user.profile.age}}</h5>
    <br>
    {% if user.username == request.user.username %}
    <a class='btn btn-secondary' href="{% url 'accounts:edituserdetails' pk=user.profile.id %}">Edit details</a>
    {% endif %}
</div>
{% endblock %}